doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    body
      h1 Hello Kyung this is so cool
      h1 Hello JAY this is so cool

      script(src='/js/main.js')
